<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>Welcome to your Dashboard</h2>
  <a href="/logout">Logout</a>

  <h3>Search Trains</h3>
  <form action="/search" method="GET">
    <input name="from" placeholder="From" required />
    <input name="to" placeholder="To" required />
    <button type="submit">Search</button>
  </form>

  <h3>Your Bookings</h3>
  <% if (tickets.length === 0) { %>
    <p>No bookings yet.</p>
  <% } else { %>
    <ul>
      <% tickets.forEach(ticket => { %>
        <li>
          Train: <%= ticket.trainId.trainName %> | 
          From: <%= ticket.trainId.from %> → To: <%= ticket.trainId.to %> | 
          Date: <%= ticket.trainId.date.toDateString() %>

         <form action="/cancel" method="POST" style="display:inline;">
  <input type="hidden" name="ticketId" value="<%= ticket._id %>">
  <button type="submit" class="cancel-btn" onclick="return confirm('Are you sure you want to cancel this ticket?')">
    Cancel
  </button>
</form>

        </li>
      <% }); %>
    </ul>
  <% } %>
</body>
</html>
